<table class="center">
  <tr>
    <th>New Artist</th>
    <th></th>
  </tr>
  <form method="post" action="/addartist">

    <td>
      <label for="name"></label>
      <input id="name" type="text" name="name">
    </td>

    <td>
      <input type="Submit" value="Add Artist">
    </td>

  </table>
</form>
