<body class="center">
<h1 class="heading">Giggity Records</h1>
<img src="/images/Quagmire.png" alt="Who else but Quagmire">
<h1 class="heading2">Management Console</h1>
<p>Like Quagmire, it's not pretty but it gets the job done!</p>
</body>
