<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Moto Dealio</title>
</head>
<body>
<%= yield %>
<nav>
  <ul>
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/buysell">Buy/Sell Prices</a></li>
    <li><a href="/newstock">Add Stock</a></li>
  </ul>
</nav>
</body>
</html>
