<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" href='../public/stlyes/style.css'>
    <title>Giggity Records</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory List</a></li>
        <li><a href="/addartist">Add Artist</a></li>
        <li><a href="/addalbum">Add Album</a></li>
      </ul>
    </nav>
        <%= yield %>
  </body>
</html>
