<form method="post">

  <label for="year">Year:</label>
  <input id="year" type="number" name="year">

  <label for="manufacturer_id">Manufacturer:</label>
  <input id="manufacturer_id" type="text" name="manufacturer_id">

  <label for="model">Model:</label>
  <input id="model" type="text" name="model">

  <label for="engine_size">CC:</label>
  <input id="cc" type="number" name="cc">

  <label for="price">Price:</label>
  <input id="price" type="number" name="price">

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity">

  <input type="submit" value="Register New Purchase"/>
</form>
