<table>
  <th>New Artist</th>
</table>
  <form class="center" method="post" action="/addartist">

      <label for="name"></label>
      <input id="name" type="text" name="name">
    </br>
      <input type="Submit" value="Add Artist">

</form>
