body {
  background-color: pink;
  font-size: 10pt;
  font-family: verdana;
  padding: 10px;
  margin: auto;
}

table {
  text-align: center;
  margin: 10px;

}

table.center {
   margin-left:auto;
   margin-right:auto;
 }

td {
  border-bottom: 2px solid darkgrey;
}

.update-stock-button {
  background: pink;
  color: black;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

.update-stock-button:hover {
  background: black;
  color: pink;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

.mgmtconsole {
  float: right;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  font-size: 14px;
}

li a {
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: pink;
    color: black;
    padding: 14px 16px;
    border-bottom: 1px solid pink;
}

.h1home {
  text-align: center;
}

.h2home {
  text-shadow: 5px;
  font-size: 30px;
  font-style: italic;
  font-family: serif Georgia;
  text-align: center;
}

.center {
  text-align: center;
}
