<table class="center">
  <thead>
<tr>
  <th>Artist</th>
  <th>Album</th>
  <th>Buy Price (£)</th>
  <th>Sell Price(£)</th>
  <th>Quantity</th>
  <th></th>
</tr>
</thead>
<form method="post" action="/inventory">

  <td>
    <label for="artist-id"></label>
  <select id="artist-id" name="artist_id">
    <% for artist in @artists %>
      <option value="<%=artist.id%>"><%=artist.name%></option>
    <% end %>
  </select>
  </td>

  <td>
  <label for="name"></label>
  <input id="name" type="text" name="name">
  </td>

  <td>
  <label for="buyprice"></label>
  <input id="buyprice" type="number" name="buyprice">
  </td>

  <td>
  <label for="sellprice"></label>
  <input id="sellprice" type="number" name="sellprice">
  </td>

  <td>
  <label for="quantity"></label>
  <input id="quantity" type="number" name="quantity">
  </td>

  <td>
  <input type="Submit" value="Add Stock">
</td>

</form>
</table>
<div class="center" "foot">Note: You must add a new artist before adding their album to database</div>
